.button
{
    
    height:40px;
    border-radius: 3px;
    border:1px solid #ffa940;
    background-color: white;
    padding-left: 20px;
    padding-right: 20px;
    margin:5px;
}
.onhover:hover
{
    background-color: #ffe7ba;
}